@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Open+Sans:wght@300;400&family=Outfit:wght@300;400;600&display=swap');



body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(233, 47%, 7%);
    
    
}

.content{
    width: 375px;
    height: 90%;
    text-align: center;
    background: hsl(244, 38%, 16%);
    border-radius: 10px;
    font-size: 15px;
    
}

.content-image{
    height: 32%;
    width: 100%;
    background-image: url(/imagens/image-header-mobile-violet.jpeg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
    
}

.informations{
    padding:  2em 3em;
}

.informations h1{
    color: white;
    font-family: 'Inter', sans-serif;
    
}

.informations p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height:2;
    font-family: 'Inter', sans-serif;
    padding: .5em;
    
}

.informations span{
    color: hsl(277, 64%, 61%);
}

.overviwer{
    color: white;
    
}

.overviwer p{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
    padding-bottom: .3em;
    margin: 0;
}

.overviwer span{
    font-family: 'Lexend Deca', sans-serif;
    font-size: .7em;
    letter-spacing: 1px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: normal;
    text-transform: uppercase;
    
    
}

.overviwers{
    padding: 1em 1em;
}

@media screen and (min-width:1440px){

    .content{
        display: flex;
        flex-direction: row-reverse;
        width: 1440px;
        width: 65%;
        height: 50%;
    }

    .content-image{
       background-image: url(/imagens/image-header-desktop-violet.jpeg);
        height: 100%;
        width: 100%;
        border-radius: 0 10px 10px 0;
    }

    .informations{
        height: 40%;
        text-align: left;
        text-align: justify;
        padding-top: 5em;
    
    }

    .informations h1{
        text-align: justify;
        padding-left: .5em;
    }

    .informations p{
        text-align: justify;
        
    }

    .section-overviwer{
        position: relative;
        display: flex;
        align-items: flex-end;
    }
    
    .overviwer{
        position: absolute;
        top: 18em;
        display: flex;
        align-items: flex-end;
        margin: 5em;
        
        
    }

    .overviwer p{
        text-align: left;
    }

   
    
    
}